* {
    margin:0;
    padding:0;
}

.clear {
    clear:both;
}

html, body {
    height:100%;
    font-family:verdana;
    overflow-x:hidden;
    
}

h1 {
    font-size: 36px;
}

h2 {
    font-size:28px;
}

p {
    text-align: justify;
    margin: 2% 0;
    font-size:18px;
    font-family:Roboto;
}

.content {
    float:left;
    width:50%;
    min-height:100%;
}

aside {
    float:left;
    width:50%;
    height:100%;
    transition: width 2s;
}

section {
    height:80%;
}

article {
    margin:7.5%;
}

.sidecontent {
    height:100%;
    float:left;
    width:0;
    transition: width 2s;
}

.sidecontent article {
    padding:14.9%;
    margin:0;
    width:;
    
}

/* ------ */

section#welcome{
    height:100%;
}

section#welcome .content {
    background-color:peachpuff;
    background-image: linear-gradient(peachpuff, #ffe9ec);
}

section#welcome header h1 {
    padding-top:30%;
    text-align: center;
    text-transform: uppercase;
    color:darksalmon;
    font-size:42px;
    margin: 0 10% 1%;
}

#welcome header h1::after {
    content: '';
    display: block;
    margin:0 auto;
    height: 2px;
    max-width:622px;
    background: darksalmon;
}

#welcome nav ul {
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
}

nav a {
    display: inline-block;
    color: darkslategrey;;
    text-decoration: none;
    font-weight:bold;
    padding:1.5%;
    font-size:24px;
}

nav a::after {
    content: '';
    display: block;
    margin:0 auto;
    width:0;
    height: 2px;
    background: darksalmon;
    transition: width .3s;
}

nav a:hover::after {
    width: 100%;
}

nav a:hover {
    transition:.5s;
    color:darksalmon;
}


#welcome aside {
    float:left;
    width:50%;
    height:100%;
    background-attachment: fixed;
    background-image: url(http://image.teddybearartmuseum.dk/media/aw_islider/Bamser%20Teddy%20Bear%20Art%20Museum.jpg);
    background-position: -00px center;
}

@media only screen and (max-width: 900px) {
    .content {
        width:100%;
    }
    #welcome aside, aside {
        width:0;
        height:0;
    }
}

/* ---- TEDDY STORY ---- */


section#teddystory {
    height:75%;
}

section#teddystory .content {
    background-color:#ffe9ec;
    /*background-image: linear-gradient(#ffe9ec,#e9ecff);*/
}

section#teddystory aside {
    background-attachment: fixed;
    background-image: url(http://image.teddybearartmuseum.dk/media/aw_islider/Bamser%20Teddy%20Bear%20Art%20Museum.jpg);
    background-position: center;
}

#teddystory h1 {
    color:darksalmon;
    border-bottom:2px solid darksalmon;
}

#teddystory h2 {
    color:#ba7861;
}

#teddystory p {
    color:#37241d;
}

#alfonzo {
    background-color:#eee;
}

#alfonzo article {
    overflow-x: hidden;
    overflow-y: hidden;
}


/*.-------- WORKSHOPS MAN -----------*/

section#workshops {
    height:75%;
}

section#workshops .content {
    background-color:#e9ecff;
    /*background-image: linear-gradient(#e9ecff,#ecffe9);*/
}

section#workshops aside {
    background-image:url(../images/syning.jpg);
    background-size:50%;
    background-attachment: fixed;

}

section#workshops h1 {
    color:#8494ff;
    border-bottom:2px solid #8494ff;
}

section#workshops p {
    color:#272c4c;
}



/* -------- FOOTER ------- */

footer {
    padding: 3.75%;
    background-color:black;
    color:white;
}

.c3 {
    float:left;
    width:33.33%;
}

.c3 h2 {
    padding-top:5%;
    font-size:18px;
}

.c3 h2::after {
    content: '';
    display: block;
    margin:0;
    height: 1px;
    max-width:250px;
    background: darkgrey;
}

.optimes {
    display: inline-block;
    width:80px;
}

@media only screen and (max-width: 900px) {
    footer {
        padding:7.5%;
    }
}

@media only screen and (max-width: 600px) {
    .c3 {
        width:100%;
    }
}
